[user]
	name = fguerret
	email = francoisGuerret@github.com
[core]
	preloadindex = true
	fscache = true
[alias]
  lg1     = log --graph --abbrev-commit --decorate --date=relative --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)' --all
  lg2     = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n''          %C(white)%s%C(reset) %C(dim white)- %an%C(reset)' --all
  lg      = !"git lg2"
  pll     = pull --rebase
  co      = checkout
  ci      = commit
  b       = branch
  st      = status -s
  rb      = rebase
  fetcha  = fetch --all --prune
  dft     = difftool
  diffn   = diff --name-only
  a       = add
  aa      = add --all

[core]
  editor = eovim
[diff]
  tool = vimdiff

[merge]
  tool = gvimdiff

[difftool "vimdiff"]
  cmd = eovim -O -f -d -c 'cd \"$GIT_PREFIX\"' \"$LOCAL\" \"$REMOTE\"

[gc]
	auto = 256
[push]
  default = current
